<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="LibraryDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=LibraryDB;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
